<!DOCTYPE html>
<html>
<head>
	<title>PhotoBlog</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">  

    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</head>
<body>
 
    <div class="jumbotron">
    	<div class="container">
    		    <div id="icon"><i class="fas fa-camera-retro"></i></div>				
				<div id="head1">NITH<span id="head2">PHOTO BLOG</span><span id="addIcon"><a href="/blogs/new"><i class="fas fa-plus"></i></a></span></div>
    	</div>
    </div>
 	<!-- <div id="header">
		<span id="icon"></span>
		<span id="head1">NITH</span>
		<span id="head2">PHOTO BLOG</span>
		<span id="addIcon"><a href="/blogs/new"><i class="fas fa-plus"></i></a></span>
	</div>

	<div id="navbar">
		<div class="text"><a href="/blogs">Home</a></div>
		<div class="text"><a href="#">Popular</a></div>
		<div class="text"><a href="#">Categories</a></div>
		<% if(currentUser){%>
		    <div class="text right">
		    	<a href="logout">Logout</a>
		    </div>
		    <div class="text right" style="color:black;">
		    	<a href="#">Welcome <%=currentUser.username%></a>
		    </div>
	    <% } else { %>  
	        <div class="text right">
	        	<a href="/register">Register</a>
	        </div>
	        <div class="text right">
	            <a href="/login">Login</a>
	        </div>
	    <% } %>
	</div> -->
