<!DOCTYPE html>
<html>
<head>
	<title>PhotoBlog</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<div id="header">
		<span id="icon"></span>
		<span id="head1">NITH</span>
		<span id="head2">PHOTOBLOG</span>
	</div>
