<% include partials/header%>

    <div class="container">
        <% blogs.forEach(function(blog){ %>
	    <div id="display">
	       <div class="row">
	            <div class="col-lg-5" id="image"><img src="<%=blog.image.substring(6)%>"></div>       
	       	    <div class="col-md-7">
	       	    	<div id="title"><%=blog.title%></div>
	       	    	<div id="date"><%=new Date(Number(blog.image.substring(24,37))).toLocaleString()%></div>
	       	    	<div id="content"></div>
	                <div id="show"><a href="/blogs/<%=blog._id%>">Show</a></div>    
	       	    </div>

	       </div>
	    </div>
	    <% }); %>	
    </div>
    

<% include partials/footer%>