<% include partials/header%>

<h1>Add a new Photo</h1>

<form action="/blogs" method="POST" enctype="multipart/form-data">
	<label>
		Title:
    	<input type="text" name="title">
	</label>
	<label>
		Upload image:
    	<input type="file" name="uploaded">		
	</label>

	<button>Submit</button>
</form>

<% include partials/footer%>