<% include partials/header%>

<h1><%=blog.title%></h1>
<p>
	<img src="<%=blog.image.substring(6)%>">
</p>
<p><%=new Date(Number(blog.image.substring(24,37))).toLocaleString()%></p>

<% include partials/footer%> 