body{
	margin:0;
}


#header{
	background : #ded9d6;
	margin:0;
	padding-top:30px;
	padding-left:20px;
	padding-bottom:30px;
}

#icon{
	background-color: #ff6200;
	display: inline-block;
	margin:0;
	padding:0;
    width : 60px;
    height : 60px;
    border-radius:50%;
}

#head1{
	display:inline-block;
    font-size: 60px;
    margin:0 auto;
}

#head2{
	display:inline-block;
	margin:0;
	font-size: 30px;
}

#addIcon{
	position:relative;
	left:58%;
	bottom:20px;
	margin : 0 auto;
	font-size: 20px;
}

#addIcon a{
    color: #000000;
}