body{
	margin:0;
	/*background-color: #e27d60;*/
}

div.jumbotron{
     margin-bottom:0;
     background-color: white;
     padding-top:25px;
     padding-bottom:25px;
}

#icon{
	font-size:6vw;
	color:brown;
	float:left;    
}

#head1{
    font-size:6vw;
    width:93%;
    float:left;
}

#head2{
	font-size:3vw;
}

#addIcon{
	font-size:3vw;
	float:right;
	margin-top:3%;
}

#addIcon a{
	color:black;
}

#search{
	margin-top: 0%;
	margin-right:15%;
	float:right;
}

.navbar{
   margin : 0;
}


.affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

.affix + .container-fluid {
      padding-top: 70px;
  }

.navbar{
	border:none !important;
	/*border-top: 4px solid black !important;*/
	/*border-bottom: 4px solid black !important;*/
}

.navbar-inverse{
    /*background: #a1582f !important;*/
    background: #41b3a3 !important;
    color: white !important;
}

.navbar-header .navbar-brand
{
    color: white !important;
}

.navbar-inverse .navbar-nav > li > a{
    color: white !important;
    font-size:2vw;
}

.collapse{
	text-transform: uppercase;
}

#myNavbar{
	border:none;
}

.navbar-inverse .navbar-toggle{
	border:none;
}

.navbar-inverse button.navbar-toggle:hover{
	background-color: teal !important;
}

.act{
	background: white;         
}

.navbar-inverse .navbar-nav .act{
	color:teal !important;

}

.navbar-inverse .navbar-nav > li > a:hover{
    color:teal !important;
}

#display{
	width:100%;
    margin-bottom:20px;
}

#image{
	padding:0;
	background:teal;
	margin-bottom:5px;
}

#image img{
	margin:0;
	width:100%;
	height:273px;
}

.col-sm-7{
	height:273px;
}

#content{
	height:180px;
}

@media only screen and (max-width: 600px)
{
	#image img{
		margin:0;
		width:100%;
		height:180px;
    }
    .col-sm-7{
	    height:180px;
    }
	#content{
        height:100px;
    }
}

#image img:hover{
	opacity:0.5;
}

#title{
	border-top: 1px solid #e2e2e2;
	font-size:30px;
	text-transform: uppercase;
}

#date{
	color:grey;
	font-size:12px;
}

#date span{
	color:black;
	font-size:15px !important;
}

#blogUser{
    text-transform: uppercase;
    margin-right:5px;
}


#show{
	text-decoration:none;
}

#show a{
	text-decoration:none;
	color:#e27d60; 
	border:1px solid #e27d60;
	padding:10px 40px;
	border-radius:30px;
}

#show a:hover{
	background:#e27d60;
	color:white;
}


/*#search form{
	font-size: 2vw;
	height:100%;
	margin: 0;
	padding:0;

}*/

/*#search input{
	width:76%;
	font-size: 2vw;
	height:100%;
	
}*/


/*#search button i{
	font-size: 1vw;
}
*/
/*body{w
	margin:0;
}


#header{
	background : #ded9d6;
	margin:0;
	padding-top:25px;
	padding-left:20px;
	padding-bottom:25px;
}

#icon{
	background-color: #ff6200;
	display: inline-block;
	margin:0;
	padding:0;
    width : 60px;
    height : 60px;
    border-radius:50%;
}

#head1{
	display:inline-block;
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing:-5px;
}

#head2{
	display:inline-block;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
    letter-spacing:-2px;

}

#addIcon{
	position:relative;
	left:65%;
	bottom:20px;
	margin : 0 auto;
	font-size: 20px;
}

#addIcon a{
    color: #000000;
}

#navbar{
	margin:10px;
	padding:25px;
    background-color:#a1582f;
    border-top:3px solid black;
    border-bottom:3px solid black;

}

.text a{
	float:left;
	text-decoration: none;
	color:white;
	font-size:30px;
	line-height: 1px;
	letter-spacing: -2px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;	
	text-transform: uppercase;
}

.text a{
	margin:0 20px;
}

.right a{
	float:right;
}

.text a:hover{
	color:#ff6200
}

#display{
	margin:20px;
	padding:20px;
	height:183px;    
	border-top:2px solid black;
	border-bottom:2px solid black;
    font-family: 'Open Sans', sans-serif;
	background: #F7F8F8;
	background: -webkit-linear-gradient(to left, #F7F8F8, #dbdbdb, #F7F8F8);
	background: linear-gradient(to left, #F7F8F8, #dbdbdb, #F7F8F8);

}

#image{
	float:left;
	border-radius:10px;
	width:280px;
	height:183px;
	box-shadow:-8px 8px 10px #5a5a5a;
}

#image img{
	border-radius:10px;
	width:100%;
	height:100%;
}

#image:hover img{
	opacity:0.7;
}

#title{
	position:relative;
	font-size:30px;
	left:30px;
	text-transform: uppercase;
}

#date{
	position:relative;
	left:113px;
	top:-27px;
	opacity:0;
}


#image:hover #date{
	opacity:1;
}

#show{
	text-decoration:none;
	position: relative;
	left:30px;
	top:110px;
}

#show a{
	text-decoration:none;
	color:#ff5400; 
	border:2px solid #ff5400;
	padding:4px 12px;
	border-radius:30px;
}

#show a:hover{
	background:#ff5400;
	color:white;
}*/